a {
background-color: burlywood;
color: black;
font-size: 24px;
text-align: center;

}
html{
    background-color: palegoldenrod;
}
li {
    font-weight: 200;
    font-family: arial , "Times New Roman";

}